<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    </head>
    <body>
    <% include ./topNav %>
        <div class="columnFifteen">
            <fieldset>
                <a href="">제품확인</a>
            </fieldset>
        </div>
        <div class="columnSeventyFive">
            <p style="text-align: center;">제품수 : <%= products.count %></p>
            <div class="list-row">
                <% products.rows.forEach(product => { %>
                    <div class="list-col">
                        <div class="list-content">
                            <img src="/img/<%= product.img %>" alt="<%= product.img %>">
                            <a href="/store/<%= product.store.url_key %>/product/<%= product.id %>"><%= product.name %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="pagination">
                <table id=pageTable>
                    <td><a href="#">&laquo;</a></td>
                    <td><a href="?page=1">1</a></td>
                    <td><a class="active" href="?page=2">2</a></td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">&raquo;</a></td>
                </table>
            </div>
        </div>
        <div class="columnTen">
        </div>
        <script>
        </script>
    </body>
</html>
