<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    </head>
    <body>
    <% include ./topNav %>
    <div class="mainbody">
        <% if(user && user.id) { %>
            <p>user nickname: <%= user.nickname %></p>
            <p>user isSaler: <%= user.isSaler %></p>
            <p>user isValidate: <%= user.isValidate %></p>
            <p>user isAdmin: <%= user.isAdmin %></p>
        <% } else { %>
            <p>Login require!</p>
        <% } %>
        <%= %>
        <h3>최근에 본 가게</h3>
        <div class="scroll-rows">
            <% if(recentStores) { %>
            <% recentStores.forEach(store => { %>
                <div class="scroll-rows-card">
                    <a href="/store/<%= store.url_key %>"><img src="/uploads/<%= store.img %>" alt="<%= store.name %>"></a>
                    <div class="scroll-rows-container">
                        <p><%= store.name %></p>
                    </div> <!-- scroll-rows-container end -->
                </div> <!-- scroll-rows-card end -->
            <% }); %>
            <% } else { %>
                <p>최근에 본 가게가 없습니다.</p>
            <% } %>
            <%= %>
        </div> <!-- scroll-rows end -->

        <h3>HOT DEALS!</h3>
        <div class="scroll-rows">
        <% console.log(newLists);
         %>
            <% if(newLists) { %>
            <% newLists.forEach(product => { %>
                <div class="scroll-rows-card">
                    <a href=""><img src="/uploads/<%= product.store.img %>" alt="<%= product.name %>"></a>
                    <div class="scroll-rows-container">
                        <p><%= product.name %></p>
                    </div> <!-- scroll-rows-container end -->
                </div> <!-- scroll-rows-card end -->
            <% }); %>
            <% } else { %>
                <p>최근에 본 가게가 없습니다.</p>
            <% } %>
            <%= %>
        </div> <!-- scroll-rows end -->
    </div> <!-- mainbody end -->
    <script>
    </script>
    </body>
</html>
