<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    </head>
    <body>
    <% include ./topNav %>
        <div class="columnFifteen">
            <fieldset>
                <form method="GET">
                    <select name="order">
                        <option value="basic"></option>
                        <option value="title_ASC">이름순</option>
                        <option value="title_DESC">이름역순</option>
                        <option value="stars_ASC">좋은평순</option>
                        <option value="stars_DESC">나쁜평순</option>
                        <option value="date_ASC">시간순</option>
                        <option value="date_DESC">시간역순</option>
                    </select>
                    <select id="siNm" name="siNm">
                        <option value="basic"></option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="대전시">대전시</option>
                    </select>
                    <select id="sggNm" name="sggNm" >

                    </select>
                    <button type="submit">적용하기</button>
                    <button type="reset">reset</button>
                </form>
            </fieldset>
            <a href="/food/makeFood">Food</a>
            <a href="/store/openStore">STORE 생성하기</a>
        </div>
        <div class="columnSeventyFive">
            <table class="table_list">
                <thead>
                    <tr>
                        <th scope="cols">img</th>
                        <th scope="cols">title</th>
                        <th scope="cols">author</th>
                        <th scope="cols">timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <% stores.rows.forEach(store => { %>
                        <tr>
                            <td><img src="/img/<%= store.img %>" alt="<%= store.img %>"></td>
                            <th scope="row"><a href="/store/<%= store.url_key %>"><%= store.name %></a></td>
                            <td><%= store.manager.nickname %></td>
                            <td><%= store.createdAt %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="pagination">
            <table id=pageTable>
                <td><a href="#">&laquo;</a></td>
                <td><a href="?page=1">1</a></td>
                <td><a class="active" href="?page=2">2</a></td>
                <td><a href="#">3</a></td>
                <td><a href="#">4</a></td>
                <td><a href="#">5</a></td>
                <td><a href="#">6</a></td>
                <td><a href="#">&raquo;</a></td>
            </table>
            </div>
        </div>
        <div class="columnTen">
            <p>hi two</p>
        </div>
    </body>
    <script>
        document.querySelectorAll('#pageTable').forEach(function(td) {
            var rows =
        });
    </script>
</html>
